Source: ros-kinetic-uol-turtlebot-simulator
Section: misc
Priority: optional
Maintainer: Christian Dondrup <cdondrup@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-kobuki-gazebo-plugins, ros-kinetic-turtlebot-apps, ros-kinetic-turtlebot-gazebo, ros-kinetic-turtlebot-rviz-launchers, ros-kinetic-turtlebot-stdr
Homepage: https://github.com/LCAS/teaching
Standards-Version: 3.9.2

Package: ros-kinetic-uol-turtlebot-simulator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-kobuki-gazebo-plugins, ros-kinetic-turtlebot-apps, ros-kinetic-turtlebot-gazebo, ros-kinetic-turtlebot-rviz-launchers, ros-kinetic-turtlebot-stdr
Description: The uol_turtlebot_simulator package
